@import "tailwindcss";

@theme {
  --font-outfit: var(--font-outfit);
  --color-coffee-dark: #1a1512;
  --color-coffee-light: #d6cfc7;
}

:root {
  --background: #050510;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
  overflow-x: hidden;
}
